[window]
# 此三项不建议改动
# 游戏窗口名称
game_window_name = 三角洲行动
# 游戏窗口最小尺寸，用于区分启动器
min_width = 1920
min_height = 1080

[schedule]
# 此处设置开始执行时间
execution_time = 16:49
# 此处设置执行时长，单位秒
duration = 180
# 此处设置执行多久切换模式进行刷新，单位秒
execution_time_single = 120

[limit]
# 此处设置预期价格上下限，上下限必须设置为六位数，脚本仅对价格的百万位进行识别和比较
# 下限
expected_price_1 = 100000
# 上限
expected_price_2 = 400000

[click_location]
# 此处设置物品点击位置 收藏一号位(660,240) 二号位(1100,240) 三号位(1600,240) 四号位(660,400) 五号位(1100,400) 六号位(1600,400)等屏幕坐标
x = 660
y = 240